* {
	font-family: monospace;
	box-sizing: border-box;
}

body {
	overflow-y: hidden;
}

@media print {
	@page {
		margin-top: 0;
		margin-bottom: 0;
	}
	body {
		padding-top: 72px;
		padding-bottom: 72px;
	}
}
